{#
/**
 * @file
 * Theme override for a 'form' element.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the wrapper element.
 * - children: The child elements of the form.
 *
 * @see template_preprocess_form()
 */
#}
{% if element['#form_id'] == 'search_form' %}

  <form action="{{element['#action']}}" method="get" id="search-block-form" accept-charset="UTF-8" data-drupal-form-fields="edit-keys">
    <div class="input-group">
      <input title="Enter the terms you wish to search for." data-drupal-selector="edit-keys" type="text" id="edit-keys" name="keys" value="" size="15" maxlength="128" class="form-search form-control" placeholder="Search">
      </input>
      <span class="input-group-btn">
        <button type="submit" id="edit-submit" name="op" value="search" class="btn btn-primary form-submit"><span aria-hidden="true" class="icon glyphicon glyphicon-search"></span></button>
        </input>
      </span>
    </div>
  </form>
{% else %}


{{ attach_library('bootstrap_barrio/form') }}
<form{{ attributes }}>
  {{ children }}
</form>

{% endif %}

